<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add answer</title>
</head>
    <body>
        <form method="post" action="/answer/add">
            <table>
                <tr>
                    <td> <input type="text" name="content"/></td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td> <input type="text" name="question"/></td>
                    <td>Question's id</td>
                </tr>
                <tr>
                    <td> <input type="text" name="correct"/></td>
                    <td>Answer is correct?</td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" value="Add answer"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>
